---
---
// body {background-color: lightgrey;}
// .page-header {display: none;}
// .main-content {max-width: 80rem;}
header {display: none;}
.banner {display: none;}
// @media screen and (min-width: 64em){.main-content{max-width:80% !important;}}
@import "{{ site.theme }}";
